Flask==2.2.3
Flask_SQLAlchemy==2.5.1
Werkzeug==2.2.3
SQLAlchemy==1.4.46
Flask-Session==0.4.0
Flask-CORS==4.0.0
Flask-WTF==1.1.1
Flask-Limiter==3.3.1
gunicorn==20.1.0
pyOpenSSL==23.2.0
email-validator==2.0.0
bcrypt==4.0.1